/* #saved-cities-container .saved-city {
    margin-bottom: 4px;
  } */

.forecast-item {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
}

.forecast-item img {
    display: block;
    margin: 0 auto;
}

.forecast-item p {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .forecast-item {
        flex-basis: 100%;
    }
}